
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/Content/css/homepage.css" rel="stylesheet" />
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Pog Pog</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">My Blog</a></li>
                    <li><a href="/Home/AboutMe">About me</a></li>
                    <li><a href="/Home/My100">My 100</a></li>
                    <li><a href="/user/login">Sign In</a></li>
                    <li><a href="/user/registration">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home"></section>
    <div class="content" >
        <p class="myP" >I HOPE YOU FIND THIS USEFULL</p>
        <p class="myP"> This website is asolutely no business, thanks for searching </p>
        <p class="myP">
            You reap what you sow
        </p>
        <p class="myP" style="font-weight:bolder">Phong Phan</p>
        
    </div>
    <script src="~/Content/js/homepage.js"></script>
</body>

</html>
<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
       
</script>
