@model List<MyWebSite.Models.C100Things>

@{
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My100</title>
    <link href="~/Content/css/list100.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body>
    <div class="logo">
        <a href="/Home/HomePage">Quay lại trang chủ</a>
    </div>
    <div class="content " style="padding-top: 50px" > 
        <h2 style="font-weight: bold ; font-family:'YELLOWTAIL', Tahoma, Geneva, Verdana, sans-serif ">100 THINGS I WANT TO DO </h2>
        <ul class="list-group" style="padding-top: 30px; font-family:'YELLOWTAIL'">
            @foreach (var  item in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   @item.Con
                    @if (item.Status == "1")
                    {
                        <input type="checkbox">
                    }
                    else
                    {
                        <input type="checkbox" checked="checked">
                    }

                </li>
            }    

        </ul>
    </div>
</body>
</html>
