
@{
    Layout = "~/Views/Layout/_LayoutAminPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
</head>
<body>
    <style>
        .container{
            text-align: center;
        }
    </style>
    <div class="container">
        <h3>TRANG QUẢN LÝ CHUNG</h3>          
         <h4 style="color: red"> Welcome PHONG </h4>
    </div>
</body>
</html>
